# /cicd/backend/deployment.yaml.template
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mindlog-be-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mindlog-be
  template:
    metadata:
      annotations:
        instrumentation.newrelic.com/inject-java: "true"
      labels:
        app: mindlog-be
    spec:
      containers:
      - name: backend
        image: ${ACCOUNT_ID}.dkr.ecr.ap-northeast-2.amazonaws.com/mindlog-be:latest
        ports:
        - containerPort: 8080
        env:
        # --- [New Relic] -----------------------------
        - name: NEW_RELIC_LICENSE_KEY
          value: "NRAK-JOFR5AGA9ITAHHACCZ6BYNYAC99"
        - name: NEW_RELIC_APP_NAME
          value: "mindlog-be-prod"

        # --- [Spring Profiles] -----------------------
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        - name: PROFILE
          value: "dev"

        # --- [Dynamic] -------------------------------
        - name: DB_DEV_HOST
          value: "${RDS_ENDPOINT}"
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:postgresql://$(DB_DEV_HOST):5432/mindlog_db?sslmode=require"

        - name: SPRING_DATA_REDIS_HOST
          value: "${REDIS_ENDPOINT}"
        - name: SPRING_DATA_REDIS_PORT
          value: "6379"

        # --- [Secret] --------------------------------
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: mindlog-be-secret
              key: DB_USERNAME
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mindlog-be-secret
              key: DB_PASSWORD
        - name: KT_JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: mindlog-be-secret
              key: KT_JWT_SECRET

        # --- [Static] --------------------------------
        - name: SPRING_JPA_DATABASE_PLATFORM
          value: "org.hibernate.dialect.PostgreSQLDialect"
        - name: AWS_S3_BUCKET_NAME
          value: "test-project-test-photos"
        - name: AWS_REGION
          value: "ap-northeast-2"
        - name: DEFAULT_PROFILE_IMAGE
          value: "https://test-project-test-photos.s3.ap-northeast-2.amazonaws.com/profile/profile-default.png"
        - name: DEFAULT_PERSONA_IMAGE
          value: "https://test-project-test-photos.s3.ap-northeast-2.amazonaws.com/persona/toast.png"
        - name: TEST_PERSONA_IMAGE
          value: "https://test-project-test-photos.s3.ap-northeast-2.amazonaws.com/persona/toast.png"

        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 40
          periodSeconds: 10
