# /cicd/ai/deployment.yaml.template
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mindlog-ai-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mindlog-ai
  template:
    metadata:
      annotations:
        instrumentation.newrelic.com/inject-python: "true"
      labels:
        app: mindlog-ai
    spec:
      containers:
      - name: ai-api
        image: ${ACCOUNT_ID}.dkr.ecr.ap-northeast-2.amazonaws.com/mindlog-ai:latest
        ports:
        - containerPort: 8000
        # newrelic
        command: ["python", "-m", "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
        env:
        # --- [New Relic] ---------------------------
        - name: NEW_RELIC_LICENSE_KEY
          value: "NRAK-JOFR5AGA9ITAHHACCZ6BYNYAC99"
        - name: NEW_RELIC_APP_NAME
          value: "mindlog-ai"
        # --- [Static] ---------------------------
        - name: DB_USER
          value: "mindlog"
        - name: DB_NAME
          value: "mindlog_db"
        - name: AWS_REGION
          value: "ap-northeast-2"
        - name: BEDROCK_MODEL_ID
          value: "anthropic.claude-haiku-4-5-20251001-v1:0"
        # --- [Dynamic] ---------------------------
        - name: DB_HOST
          value: "${RDS_ENDPOINT}"
        - name: REDIS_URL
          value: "redis://${REDIS_ENDPOINT}:6379/0"
        - name: DATABASE_URL
          value: "postgresql://$(DB_USER):$(DB_PASSWORD)@$(DB_HOST):5432/$(DB_NAME)?sslmode=require"
        # --- [Secret] -----------------------------
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mindlog-ai-secret
              key: DB_PASSWORD
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: mindlog-ai-secret
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: mindlog-ai-secret
              key: AWS_SECRET_ACCESS_KEY

        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
